.projects-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.projects-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.projects-navbar-interactive {
  width: 90%;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.projects-image {
  width: 58px;
  height: 68px;
  object-fit: cover;
}
.projects-logo {
  font-size: 2em;
  font-family: "Raleway";
  font-weight: bold;
  padding-left: var(--dl-space-space-unit);
  text-transform: capitalize;
}
.projects-text01 {
  font-weight: 700;
}
.projects-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.projects-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.projects-nav1 {
  transition: 0.3s;
  text-decoration: none;
}
.projects-nav1:hover {
  color: #3d6e70ff;
}
.projects-nav3 {
  transition: 0.3s;
  font-weight: bold;
  margin-left: var(--dl-space-space-twounits);
}
.projects-nav3:hover {
  color: #3d6e70ff;
}
.projects-link {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.projects-link:hover {
  color: #3d6e70ff;
}
.projects-nav4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.projects-nav4:hover {
  color: #3d6e70ff;
}
.projects-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.projects-nav5:hover {
  color: #3d6e70ff;
}
.projects-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.projects-register {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  font-weight: bold;
  border-color: var(--dl-color-primary1-blue100);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
  text-decoration: none;
  background-color: var(--dl-color-primary1-blue100);
}
.projects-register:hover {
  border-color: rgba(41, 20, 119, 0.9);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(41, 20, 119, 0.9);
}
.projects-burger-menu {
  display: none;
}
.projects-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.projects-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.projects-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.projects-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.projects-logo1 {
  font-size: 2em;
  font-weight: bold;
}
.projects-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.projects-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.projects-nav11 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.projects-nav2 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.projects-nav31 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.projects-nav41 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.projects-nav51 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.projects-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.projects-login {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}
.projects-register1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.projects-register1:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.projects-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.projects-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.projects-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.projects-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.projects-hero1 {
  width: 100%;
  height: 203px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.projects-container01 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.projects-hero-heading {
  color: var(--dl-color-gray-white);
  height: 77px;
  max-width: 800px;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6;
}
.projects-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.projects-details {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-details01 {
  gap: zero;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.projects-container02 {
  flex: 1;
  width: 60%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.projects-details-heading {
  width: 808px;
  align-self: flex-start;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.projects-details-sub-heading {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}
.projects-container03 {
  flex: 0.3;
  width: 100px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.projects-image1 {
  width: 470px;
  height: 357px;
  object-fit: cover;
}
.projects-details02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-details03 {
  gap: zero;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.projects-container04 {
  flex: 1;
  width: 60%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.projects-details-heading1 {
  width: 808px;
  align-self: flex-start;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.projects-details-sub-heading1 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}
.projects-container05 {
  flex: 0.3;
  width: 100px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.projects-image2 {
  width: 488px;
  height: 323px;
  object-fit: cover;
}
.projects-details04 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-details05 {
  gap: zero;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.projects-container06 {
  flex: 1;
  width: 60%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.projects-details-heading2 {
  width: 808px;
  align-self: flex-start;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.projects-details-sub-heading2 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}
.projects-container07 {
  flex: 0.3;
  width: 100px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.projects-image3 {
  width: 485px;
  height: 350px;
  object-fit: cover;
}
.projects-details06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-details07 {
  gap: zero;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.projects-container08 {
  flex: 1;
  width: 60%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.projects-details-heading3 {
  width: 808px;
  align-self: flex-start;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.projects-details-sub-heading3 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}
.projects-container09 {
  flex: 0.3;
  width: 100px;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.projects-image4 {
  width: 200px;
  object-fit: cover;
}
.projects-details08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-details09 {
  width: 1014px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.projects-container10 {
  flex: 1;
  width: 441px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.projects-details-heading4 {
  width: 694px;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-right: 99px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.projects-details-sub-heading4 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}
.projects-image5 {
  width: 200px;
  object-fit: cover;
}
.projects-details10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-image6 {
  width: 693px;
  height: 323px;
  object-fit: cover;
}
.projects-details11 {
  width: 1014px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.projects-container11 {
  flex: 1;
  width: 441px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.projects-details-heading5 {
  width: 694px;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-right: 99px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.projects-details-sub-heading5 {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}
.projects-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.projects-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.projects-container12 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.projects-logo2 {
  color: var(--dl-color-gray-white);
  font-size: 2em;
  font-weight: bold;
}
.projects-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.projects-nav12 {
  color: var(--dl-color-secondary-gray500);
  margin-left: 0px;
}
.projects-nav21 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.projects-nav32 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.projects-nav42 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.projects-nav52 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.projects-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-800);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.projects-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.projects-text18 {
  color: var(--dl-color-secondary-gray500);
}
.projects-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.projects-icon10 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.projects-icon12 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.projects-icon14 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
}
@media(max-width: 1200px) {
  .projects-nav1 {
    text-decoration: none;
  }
  .projects-nav3 {
    font-weight: bold;
    text-decoration: none;
  }
  .projects-nav4 {
    text-decoration: none;
  }
  .projects-nav5 {
    text-decoration: none;
  }
  .projects-hero-heading {
    color: var(--dl-color-gray-white);
  }
  .projects-details {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .projects-details01 {
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .projects-container02 {
    width: 50%;
    height: 577px;
    align-self: center;
    align-items: flex-start;
    margin-right: 0px;
    padding-right: zero;
  }
  .projects-details-heading {
    width: 916px;
    align-self: center;
    text-align: center;
    font-family: Raleway;
    line-height: 1.6;
  }
  .projects-details-sub-heading {
    color: var(--dl-color-gray-800);
    width: auto;
    height: 80px;
    font-size: 18px;
    align-self: flex-start;
    line-height: 1.6;
  }
  .projects-container03 {
    width: 50%;
    height: 577px;
    align-self: center;
    align-items: flex-start;
    margin-right: 0px;
    padding-right: zero;
  }
  .projects-details02 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .projects-details03 {
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .projects-container04 {
    width: 50%;
    height: 577px;
    align-self: center;
    align-items: flex-start;
    margin-right: 0px;
    padding-right: zero;
  }
  .projects-details-heading1 {
    width: 916px;
    align-self: center;
    text-align: center;
    font-family: Raleway;
    line-height: 1.6;
  }
  .projects-details-sub-heading1 {
    color: var(--dl-color-gray-800);
    width: auto;
    height: 80px;
    font-size: 18px;
    align-self: flex-start;
    line-height: 1.6;
  }
  .projects-container05 {
    width: 50%;
    height: 577px;
    align-self: center;
    align-items: flex-start;
    margin-right: 0px;
    padding-right: zero;
  }
  .projects-image2 {
    width: 381px;
    height: 344px;
  }
  .projects-details04 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .projects-details05 {
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .projects-container06 {
    width: 50%;
    height: 577px;
    align-self: center;
    align-items: flex-start;
    margin-right: 0px;
    padding-right: zero;
  }
  .projects-details-heading2 {
    width: 916px;
    align-self: center;
    text-align: center;
    font-family: Raleway;
    line-height: 1.6;
  }
  .projects-details-sub-heading2 {
    color: var(--dl-color-gray-800);
    width: auto;
    height: 80px;
    font-size: 18px;
    align-self: flex-start;
    line-height: 1.6;
  }
  .projects-container07 {
    width: 50%;
    height: 577px;
    align-self: center;
    align-items: flex-start;
    margin-right: 0px;
    padding-right: zero;
  }
  .projects-details06 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .projects-details07 {
    width: auto;
    height: auto;
    max-width: auto;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .projects-container08 {
    width: 50%;
    height: 577px;
    align-self: center;
    align-items: flex-start;
    margin-right: 0px;
    padding-right: zero;
  }
  .projects-details-heading3 {
    width: 916px;
    align-self: center;
    text-align: center;
    font-family: Raleway;
    line-height: 1.6;
  }
  .projects-details-sub-heading3 {
    color: var(--dl-color-gray-800);
    width: auto;
    height: 80px;
    font-size: 18px;
    align-self: flex-start;
    line-height: 1.6;
  }
  .projects-container09 {
    width: 50%;
    height: 577px;
    align-self: center;
    align-items: flex-start;
    margin-right: 0px;
    padding-right: zero;
  }
  .projects-image4 {
    width: 338px;
    height: 419px;
  }
  .projects-details-heading4 {
    line-height: 1.6;
  }
  .projects-details-sub-heading4 {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
  }
  .projects-text14 {
    font-weight: 700;
  }
  .projects-image5 {
    width: 338px;
    height: 419px;
  }
  .projects-image6 {
    width: 381px;
    height: 344px;
  }
  .projects-details-heading5 {
    line-height: 1.6;
  }
  .projects-details-sub-heading5 {
    color: var(--dl-color-gray-800);
  }
}
@media(max-width: 991px) {
  .projects-hero1 {
    flex-direction: column;
  }
  .projects-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .projects-hero-heading {
    text-align: center;
  }
  .projects-details-heading {
    width: 100%;
  }
  .projects-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .projects-details-heading1 {
    width: 100%;
  }
  .projects-details-sub-heading1 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .projects-details-heading2 {
    width: 100%;
  }
  .projects-details-sub-heading2 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .projects-details-heading3 {
    width: 100%;
  }
  .projects-details-sub-heading3 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .projects-details-sub-heading4 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .projects-details-sub-heading5 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .projects-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-desktop-menu {
    display: none;
  }
  .projects-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .projects-nav11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-details01 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .projects-container02 {
    align-items: center;
    justify-content: flex-start;
  }
  .projects-details-heading {
    width: auto;
    text-align: center;
  }
  .projects-details-sub-heading {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .projects-container03 {
    align-items: center;
    justify-content: flex-start;
  }
  .projects-details03 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .projects-container04 {
    align-items: center;
    justify-content: flex-start;
  }
  .projects-details-heading1 {
    width: auto;
    text-align: center;
  }
  .projects-details-sub-heading1 {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .projects-container05 {
    align-items: center;
    justify-content: flex-start;
  }
  .projects-details05 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .projects-container06 {
    align-items: center;
    justify-content: flex-start;
  }
  .projects-details-heading2 {
    width: auto;
    text-align: center;
  }
  .projects-details-sub-heading2 {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .projects-container07 {
    align-items: center;
    justify-content: flex-start;
  }
  .projects-details07 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .projects-container08 {
    align-items: center;
    justify-content: flex-start;
  }
  .projects-details-heading3 {
    width: auto;
    text-align: center;
  }
  .projects-details-sub-heading3 {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .projects-container09 {
    align-items: center;
    justify-content: flex-start;
  }
  .projects-details09 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .projects-container10 {
    align-items: center;
    justify-content: flex-start;
  }
  .projects-details-heading4 {
    text-align: center;
  }
  .projects-details-sub-heading4 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .projects-details11 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .projects-container11 {
    align-items: center;
    justify-content: flex-start;
  }
  .projects-details-heading5 {
    text-align: center;
  }
  .projects-details-sub-heading5 {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .projects-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .projects-container13 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .projects-text18 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .projects-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }
  .projects-logo {
    font-size: 1.5em;
  }
  .projects-mobile-menu {
    padding: 16px;
  }
  .projects-logo1 {
    font-size: 1.5em;
  }
  .projects-icon02 {
    fill: var(--dl-color-gray-900);
  }
  .projects-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projects-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-btn-group {
    flex-direction: column;
  }
  .projects-details {
    height: 938px;
  }
  .projects-details01 {
    width: 100%;
    height: 100%;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  .projects-container02 {
    width: 411px;
    position: relative;
  }
  .projects-details-heading {
    width: auto;
    align-self: center;
    font-family: Raleway;
    line-height: 1.6;
  }
  .projects-details-sub-heading {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    line-height: 1.6;
  }
  .projects-container03 {
    width: 411px;
    position: relative;
  }
  .projects-details02 {
    height: 938px;
  }
  .projects-details03 {
    width: 100%;
    height: 100%;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  .projects-container04 {
    width: 411px;
    position: relative;
  }
  .projects-details-heading1 {
    width: auto;
    align-self: center;
    font-family: Raleway;
    line-height: 1.6;
  }
  .projects-details-sub-heading1 {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    line-height: 1.6;
  }
  .projects-container05 {
    width: 411px;
    position: relative;
  }
  .projects-details04 {
    height: 938px;
  }
  .projects-details05 {
    width: 100%;
    height: 100%;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  .projects-container06 {
    width: 411px;
    position: relative;
  }
  .projects-details-heading2 {
    width: auto;
    align-self: center;
    font-family: Raleway;
    line-height: 1.6;
  }
  .projects-details-sub-heading2 {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    line-height: 1.6;
  }
  .projects-container07 {
    width: 411px;
    position: relative;
  }
  .projects-details06 {
    height: 938px;
  }
  .projects-details07 {
    width: 100%;
    height: 100%;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  .projects-container08 {
    width: 411px;
    position: relative;
  }
  .projects-details-heading3 {
    width: auto;
    align-self: center;
    font-family: Raleway;
    line-height: 1.6;
  }
  .projects-details-sub-heading3 {
    color: var(--dl-color-gray-800);
    font-size: 18px;
    line-height: 1.6;
  }
  .projects-container09 {
    width: 411px;
    position: relative;
  }
  .projects-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .projects-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .projects-container13 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .projects-text18 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
