.team-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.team-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-navbar-interactive {
  width: 90%;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.team-image {
  width: 58px;
  height: 68px;
  object-fit: cover;
}
.team-logo {
  font-size: 2em;
  font-family: "Raleway";
  font-weight: bold;
  padding-left: var(--dl-space-space-unit);
  text-transform: capitalize;
}
.team-text01 {
  font-weight: 700;
}
.team-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.team-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.team-nav1 {
  transition: 0.3s;
  text-decoration: none;
}
.team-nav1:hover {
  color: #3d6e70ff;
}
.team-nav4 {
  transition: 0.3s;
  font-weight: bold;
  margin-left: var(--dl-space-space-twounits);
}
.team-nav4:hover {
  color: #3d6e70ff;
}
.team-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-nav5:hover {
  color: #3d6e70ff;
}
.team-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-register {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  font-weight: bold;
  border-color: var(--dl-color-primary1-blue100);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
  text-decoration: none;
  background-color: var(--dl-color-primary1-blue100);
}
.team-register:hover {
  border-color: rgba(41, 20, 119, 0.9);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(41, 20, 119, 0.9);
}
.team-burger-menu {
  display: none;
}
.team-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.team-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.team-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.team-logo1 {
  font-size: 2em;
  font-weight: bold;
}
.team-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.team-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.team-nav11 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.team-nav2 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.team-nav3 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.team-nav41 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.team-nav51 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.team-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-login {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}
.team-register1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.team-register1:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.team-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.team-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.team-details {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-details1 {
  width: 1014px;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.team-container1 {
  flex: 1;
  width: 612px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.team-details-heading {
  width: 787px;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-right: 99px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-details-sub-heading {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-text02 {
  font-weight: 700;
}
.team-image1 {
  width: 240px;
  height: 348px;
  align-self: flex-end;
  object-fit: cover;
}
.team-pricing {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.team-pricing1 {
  gap: var(--dl-space-space-twounits);
  width: 463px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.team-container2 {
  gap: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.team-pricing-heading {
  color: var(--dl-color-gray-white);
  font-family: "Raleway";
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-image2 {
  width: 213px;
  height: 204px;
  object-fit: cover;
}
.team-text05 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  text-align: center;
}
.team-text07 {
  font-style: normal;
  font-weight: 400;
}
.team-text09 {
  font-weight: 700;
}
.team-link {
  display: contents;
}
.team-icon10 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.team-pricing2 {
  gap: var(--dl-space-space-twounits);
  width: 463px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.team-container3 {
  gap: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.team-pricing-heading1 {
  color: var(--dl-color-gray-white);
  font-family: "Raleway";
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.team-image3 {
  width: 200px;
  object-fit: cover;
}
.team-text12 {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.team-text14 {
  font-style: normal;
  font-weight: 400;
}
.team-text15 {
  font-weight: 700;
}
.team-text16 {
  font-weight: 700;
}
.team-text17 {
  font-weight: 700;
}
.team-link1 {
  display: contents;
}
.team-icon12 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.team-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.team-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.team-container4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.team-logo2 {
  color: var(--dl-color-gray-white);
  font-size: 2em;
  font-weight: bold;
}
.team-text18 {
  color: #ffffff;
}
.team-text19 {
  color: rgb(255, 255, 255);
}
.team-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.team-nav12 {
  color: var(--dl-color-secondary-gray500);
  margin-left: 0px;
}
.team-nav21 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.team-nav31 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.team-nav42 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.team-nav52 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
}
.team-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-800);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.team-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-text23 {
  color: var(--dl-color-secondary-gray500);
}
.team-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.team-icon14 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
}
@media(max-width: 1200px) {
  .team-text05 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
  }
  .team-text07 {
    font-style: normal;
    font-weight: 400;
  }
  .team-text08 {
    font-weight: 700;
  }
  .team-text09 {
    font-weight: 700;
  }
  .team-text19 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .team-text23 {
    color: var(--dl-color-secondary-gray500);
  }
}
@media(max-width: 991px) {
  .team-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .team-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-desktop-menu {
    display: none;
  }
  .team-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .team-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-nav11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .team-details1 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .team-container1 {
    align-items: center;
    justify-content: flex-start;
  }
  .team-details-heading {
    text-align: center;
  }
  .team-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .team-pricing1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-pricing2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-text18 {
    color: #ffffff;
    text-align: center;
  }
  .team-text19 {
    font-size: 14px;
  }
  .team-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-text23 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .team-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }
  .team-logo {
    font-size: 1.5em;
  }
  .team-mobile-menu {
    padding: 16px;
  }
  .team-logo1 {
    font-size: 1.5em;
  }
  .team-icon02 {
    fill: var(--dl-color-gray-900);
  }
  .team-details1 {
    width: auto;
    max-width: auto;
  }
  .team-container1 {
    width: auto;
  }
  .team-details-heading {
    width: auto;
  }
  .team-pricing1 {
    width: 209px;
    height: 529px;
  }
  .team-image2 {
    width: auto;
  }
  .team-pricing2 {
    width: 214px;
  }
  .team-image3 {
    width: auto;
  }
  .team-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .team-text18 {
    color: rgb(255, 255, 255);
  }
  .team-text19 {
    font-size: 14px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 400;
  }
  .team-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .team-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .team-text23 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
